html, body {
  margin: 0;
  height: 100vh;
}

body {
	display: flex;
  	flex-direction: column;
	background-color: gray;
}

.card-wrapper {
	flex: 1 1 auto;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.card-container {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	gap: 0.5rem;
  	padding: 1rem;
}

.card-container > .card {
	flex: 1 1 min(10rem, 100%);
  	max-width: min(15rem, 100%);
  	border-radius: 5px;
  	padding: 1rem;
  	background-color: aliceblue;
  	border: 2px solid greenyellow;
}

.card > img {
	max-width: 100%;
  	display: block;
}

/* MELHORAR ESTILIZAÇÃO */

.counter-container {
	display: flex;
  	justify-content: flex-end;
  	padding: 1rem;
  	font-family: Arial, Helvetica, sans-serif;
}

.counter-label {
	padding-right: 5px;
}

.counter-out {
	margin-right: 1rem;
}

#button-win {
	background-color: black;
	color: white;
	border: 0.1rem solid white;
	width: 10rem;
	height: 5rem;
	margin: 1rem 0rem 0rem 0rem;
}

.popup-win-hidden {
	display: none;
}

#popup-win {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.5rem solid olive;
	padding: 2rem;
	background-color: beige;
}

/* Não consigo centralizar esse "X" */
#popup-exit {
	position: absolute;
	font-family: monospace;
	top: 0;
	right: 0;
	text-align: center;
	color: white;
	background-color: red;
	margin: 0.2rem;
	padding: 0.3rem;
}
